@font-face {
  font-family: Mosk300;
  src: url('../font/Mosk-300.ttf');
}
@font-face {
  font-family: Mosk400;
  src: url('../font/Mosk-400.ttf');
}
@font-face {
  font-family: Mosk700;
  src: url('../font/Mosk-Bold.ttf');
}
/*---POPUP POST--------*/

.popup_post {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-content_post {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:#ffffff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 900px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.close_post {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  color:#000;
}
.popup-content_post img {
  max-width: 100%;
  height: auto;
}
.subtittleRojo{
  text-align: center ;
  font-size: 16px;
}
.subtittleRojoMain{
  text-align: center ;
  font-size: 15px;
}
.avTittle{
  font-size: 22px;
}


@media screen and (max-width: 576px) {
 
  .popup-content_post {
    width: 100%; /* Ajusta el ancho según tu preferencia para hacer el recuadro blanco más grande */
    max-width: 450px; /* Establece un ancho máximo para evitar que el recuadro sea demasiado grande en pantallas muy pequeñas */
    padding: 30px; /* Ajusta el padding según tu preferencia para hacer el recuadro blanco más grande */
  }
  .popup-content_post img {
    max-width: 100%;
    height: auto;
  }

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Mosk700, sans-serif;
  font-weight: 700;
}
a:hover, a.btn:hover, a.btn-cta:hover,.btn:hover {
  color: #fff !important;
  text-decoration: none;
}
.pregrados-submenu ,  .posgrados-submenu {
  display: none;
  transition: ease-in-out .3s
}
.pregrados-submenu.active {
  display: block;
  transition: ease-in-out  .3s
}
.posgrados-submenu.active {
  display: block;
  transition: ease-in-out  .3s
}


::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: var(--verde);
  border-radius: 10px;
}


/* Colores */
:root {
  --blanco: #ffffff;
  --negro: #000000;
  --gris: #4C4C4C;
  --gris-claro: #D9D9D9;
  --gris-oscuro: #3E4851;
  --gris-texto: #A2A2A2;
  --verde: #6CBDB1;
  --verde-claro: #DFF1EE;
  --verde-wa: #199E0F;
  --azul: #57BFE6;
  --azul-medio: #006AAA;
  --azul-oscuro: #003E63;
  --dorado: #D48200;
  --rojo: #E9004C;
  --degrade: linear-gradient(90deg, #b60A44, #190072, #3677ff) !important;
}
.btn-se {
  background: var(--verde);
  color: var(--blanco);
  padding: 5px 15px;
  margin: 10px 5px;
  border-radius: 10px;
}
nav a {
  font-weight: 700;
}
nav a:hover {
  color: var(--verde) !important;
}
.owl-stage {
  align-items: center !important;
}
.card-circle {
  height: 250px !important;
  width: 250px !important;
  margin: 0 auto;
  display: flex; align-items: center;
  justify-content: center;
  font-size: 24px;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}

.card-circle.ce {
    --opacidad-azul: 0.8;

    background-image: linear-gradient(rgba(0, 62, 99, var(--opacidad-azul)), rgba(0, 62, 99,var(--opacidad-azul))), url(../img/economia.png);

}
.card-circle.humanidades {
    --opacidad-rojo: 0.8;
    background-image: linear-gradient(rgba(197, 5, 60,  var(--opacidad-rojo)), rgba(197, 5, 60, var(--opacidad-rojo))), url(../img/humanidades-card.png);

}
.card-circle.derecho {
    --opacidad-azul-derecho: 0.8;
    background-image: linear-gradient(rgba(31, 112, 179, var(--opacidad-azul-derecho)), rgba(31, 112, 179,var(--opacidad-azul-derecho))), url(../img/Derecho_1.png);

}
.card-circle:hover span {
  
  color: transparent;
  transition: ease-in-out .37s all;
}
.card-circle.ce:hover {
  --opacidad-blanco: 0.0;
  transition: ease-in-out .37s all;

  /* background: transparent; */
  background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-blanco)), rgba(0, 0, 0,var(--opacidad-blanco))), url(../img/economia.png);
  transform: rotateY(180deg);
}
.card-circle.humanidades:hover {
  --opacidad-blanco: 0.0;
  transition: ease-in-out .37s all;

  /* background: transparent; */
  background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-blanco)), rgba(0, 0, 0,var(--opacidad-blanco))), url(../img/humanidades-card.png);
  transform: rotateY(180deg);
}
.card-circle.derecho:hover {
  --opacidad-blanco: 0.0;
  transition: ease-in-out .37s all;

  /* background: transparent; */
  background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-blanco)), rgba(0, 0, 0,var(--opacidad-blanco))), url(../img/Derecho_1.png);
  transform: rotateY(180deg);
}



.blanco {
  color: var(--blanco);
}

.negro {
  color: var(--negro);
}

.gris-claro {
  color: var(--gris-claro);
}
.gris-oscuro {
  color: var(--gris-oscuro);
}

.gris {
  color: var(--gris);
}

.gris-texto {
  color: var(--gris-texto);
}

.verde {
  color: var(--verde);
}

.rojo {
  color: var(--rojo);
}

.azul {
  color: var(--azul);
}

.azul-medio {
  color: var(--azul-medio);
}

.azul-oscuro {
  color: var(--azul-oscuro);
}

.rojo {
  color: var(--rojo);
}
.verde {
  color: var(--verde);
}

.dorado {
  color: var(--dorado);
}

.bg-blanco {
  background: var(--blanco);
  box-shadow: -16px 4px 7px 0px grey;
}

.bg-negro {
  background: var(--negro);
}

.bg-gris {
  background: var(--gris);
}

.bg-gris-claro {
  background: var(--gris-claro);
}

.bg-verde {
  background: var(--verde);
}
.bg-verde-claro {
  background: var(--verde-claro);
}

.bg-verde-wa {
  background: var(--verde-wa);
}

.bg-rojo {
  background: var(--rojo);
}

.bg-azul {
  background: var(--azul);
}

.bg-azul-medio {
  background: var(--azul-medio);
}

.bg-azul-oscuro {
  background: var(--azul-oscuro);
}

.bg-rojo {
  background: var(--rojo);
}

.bg-dorado {
  background: var(--dorado);
}

.acreditacion-img {
  height: 24px;
  margin: 0 10px;
}

#wa-fixed {
  position: fixed;
  right: 0;
  top: 31%;
  z-index: 1000;
}

#wa-fixed .fa.fa-whatsapp {
  font-size: 32px !important;

}

.btn-rojo-wa {
  border-radius: 10px;
}



a,
a:hover {
  text-decoration: none;
  transition: ease-in-out all .3s;
}

a:hover {
  color: inherit !important;
}
a {
  color: unset;
}
.item-carrera-mobile:hover {
  color: unset !important;

}
body {
  font-size: 12px;
  font-family: Mosk400, serif;
  background-color: var(--blanco);
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}
header * {
  font-size: 16px !important;
}

.txt-gris-claro {
  color: #A2A2A2;
}


/* Carousel styles */
#carousel-index .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.txt-postula {
  font-weight: 900;
  line-height: 100%;
}

#avanza-con-ucss-c {
  position: absolute;
  top: 20%;
  font-size: 150%;
}

/* #avanza-con-ucss-c * {
  font-size: 100% !important;
} */

#texto-admisiones {
  display: inline-flex;
  position: absolute;
  font-size: 10px !important;
  top: 5%;
  right: 4%;
}

#texto-admisiones .badge-year {
  font-size: 10px;
  color: var(--verde) !important;
  font-weight: 900;
}

#texto-admisiones div .num {
  position: absolute;
  bottom: -11px;
  left: -23%;
  font-weight: 700;
  font-size: 32px;


}

.item-carrera-mobile {
  border-bottom: 1px solid var(--verde);
  border-bottom-style: dashed;
}

.item-carrera-mobile h6 {
  font-size: 12px;
}

.item-carrera-mobile span {
  border-radius: 130px;
  font-size: 10px;
}

.dashed {
  border-bottom: 1px dashed var(--verde);
  padding: 10px 0;
  text-align: center;
  font-size: 20px !important;
}

/* .dashed-bottom {
  border-bottom: 1px dashed var(--verde) !important;
} */
.bordeado{
  border-bottom: 1px dashed var(--verde) !important;
}

.badge-year {
  background: #fff;
  color: #000;
  font-size: 10px;
  padding: 3px;
  border-radius: 5px;
  font-size: 18px;
}

.owl-stage {
  display: flex;
  align-items: baseline;
  justify-content: center;
}


/* Acreditacion */


/* Card pregrado */

.card-pregrado {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 0 0 100%;
  margin: 20px 10px !important;
  border-radius: 25px;
  -webkit-box-shadow: 10px 10px 42px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 42px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 42px -13px rgba(0, 0, 0, 0.75);
}

.card-pregrado img {
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.txt-solicitar-informacion {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}


/* FAQ */

.accourdian {
  width: 100%;
  margin: 0 auto;
}

.sec_title {
  text-align: left;
  font-size: calc(1.3em + 1vw);
  line-height: 1em;
  padding: 1em;
  margin: 1em;
}

.accordian-item {

  color: #000;
  border-bottom: 1px solid #000;
}

.accordian-link {
  color: #000;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  padding-block: 1rem;
  cursor: pointer; 
  font-size: 14px;
  position: relative;
}

.accordian-link p {
  width: 90%;
}

.icon.fa.fa-plus, .icon.fa.fa-minus {
  font-size: 24px;
  position: absolute;
  right: -20px;
  top: 35%;
  width: 10%;
}

.answer {
  overflow: hidden;
  max-height: 0;
  position: relative;
  background-color: #fff;
  transition: max-height 0.7s;
}

.answer div {
  font-size: 12px;
  color: #000;
  margin-bottom: 0 !important;
  text-align: left;
  padding: 1rem
}

.answer.open {
  max-height: 150px !important;
  overflow-y: auto;
}

.list-carreras:before {
  content: "•";
  font-size: 32px;
  text-align: left;
  position: absolute;
  top: -16px;
  left: 0;

}

.list-carreras {
  padding-left: 30px;
}

/*scrollbar width */
.answer::-webkit-scrollbar {
  width: 10px;
}

/*scrollbar Track */
.answer::-webkit-scrollbar-track {
  background: rgb(189, 190, 189);
}

.answer::-webkit-scrollbar-thumb {
  background-color: #000;
  outline: 1px solid darkgreen;
}



/* Estilos desktop */
.link-hd {
  border-bottom: 2px solid transparent;
  position: relative;
}

.link-hd:hover {
  border-bottom: 2px solid var(--verde);
}

.link-hd:hover .submenu {
  display: flex !important;
  position: absolute;
  flex-wrap: wrap;
  width: 800px;
  background: var(--gris);
  color: var(--blanco);
  top: calc(100% + 10px);
  right: -40% !important;
}

.submenu::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: -20px;
  left: 45%;
  transform: rotate(180deg);
  border-top: 10px solid var(--gris);
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}

.submenu h6 {
  font-size: 14px;
}

@keyframes gradient {

  0%,
  100% {
    background-position: 20% 10%;
  }

  20% {
    background-position: 40% 20%;
  }

  40% {
    background-position: 60% 40%;
  }

  80% {
    background-position: 80% 60%;
  }
}

.img-call {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.te-contactaremos {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.link-nosotros{
  font-size: 16px !important;
}


.dashed-acreditacion {
  border-bottom: solid var(--verde) 1px;
  border-bottom-style: dotted;
  color: #4C4C4C;
}

.badge-nuevo {
  position: absolute;
  left: 15px;
  top: 15px;
  padding: 5px 10px;
  border-radius: 111px;
}

.btn-postula {
  position: absolute;
  bottom: 15px;
  left: 10px;
}

.item-beneficios .row img {
  width: 96px;
}

.qi {
  font-size: 20px !important
}

/* Menu */
nav {
  display: flex;
  justify-content: end;
}

nav ul {
  margin: 0;
  padding: 5px;
}

nav ul li {
  display: inline-flex;

}
#txt-maestrias-mobile:hover {
  color: #fff !important;
}


nav ul li .links-c {
  position: absolute;
}
.links-c{
  display: none;
}
.pregrados-c:hover .links-c.pregrados {
  display: block;
}
.pregrados-c:hover .links-c.maestrias {
  display: block;
}

.links-c li {
  font-size: 14px;
}

.links-c  {
  position: absolute;
  top: 56px;
  /* top: 28px; */
  width: 400px;
  background: var(--gris);
  padding: 10px;
  height: auto;
  min-height: 250px;
}

.links-c::before {
       content: '';
    position: absolute;
    left: 60px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}
.links-c::before {
       content: '';
    position: absolute;
    left: 60px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

.links {
  position: absolute;
  top: 56px;
  /* top: 28px; */
  width: 400px;
  background: var(--gris);
  padding: 10px;
  height: auto;
  min-height: 250px;
}

.pregrados:hover .pregrados,
.postgrados:hover .postgrados {
    display: block;
}
.menu-mobile ul li{
  list-style: none;
}

.col-6.impar {
  left: 0;
}

.col-6.par {
  left: 50%;
}

nav ul li ul li {
  display: list-item;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}


.pmr {
  border-bottom: 4px solid var(--verde);
  border-bottom-style: dotted;
}
.pmrojo {
  border-bottom: 4px solid var(--rojo);
  border-top: 4px solid var(--rojo);
  border-bottom-style: dotted;
  border-top-style: dotted;
}

.pmverde {
  border-bottom: 4px solid var(--verde);
  border-top: 4px solid var(--verde);
  border-bottom-style: dotted;
  border-top-style: dotted;
}

.btn-cta {
  border-radius: 10px;
  padding: 5px 15px;
}
#bg-ci {
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  background-image: url('../img/banner-mobile.png');
}
.modalidad-desc {
  border-radius: 20px !important;
}
#img-maestria{
  border-top-left-radius: 20px ;
  border-top-right-radius: 20px ;
}
.modalidad-desc .bg-gris-claro {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.item-beneficios{
  width: 19%;
}

.txtImgSub{
  font-size: 19px !important;
  font-weight: bold;
}

/*  Movil query */
@media screen and (max-width: 767px) {
  #carousel-index .owl-stage-outer{
    height: 100%;
  }
  .cards-carreras #title-ce{
    display: flex;
    justify-content: space-between;
  }
  #title-cp{
    display: flex;
    justify-content: space-between;
  }
  .IconsPlus{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .beneficiosSecction{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    margin-top: 0 !important;
  }
  .beneficiosSecction2{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
  }
  .avTittle{
    font-size: 20px !important;
  }
  .accordian-link p{
    font-size: 14px !important;
    margin: 0;
  }
  .backColor{
    width: 95% !important;
    font-size: 15px !important;
}
.backColor > li{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
  .col-md-8 > h2{
    font-size: 25px;
    color: white;
}
  .subtittleRojo{
    text-align: justify;
    font-size: 18px;
  }
  .subtittleRojoMain{
    text-align: center ;
    font-size: 15px;
  }
  .subTittle {
    font-size: 15px;
  }
  #avanza-con-ucss-c > h5{
    font-size: 18px !important;
  }

  .textP{
    width: 13rem;
    text-align: justify;
  }
  
  h1.rojo, h1.blanco {
    font-size: 24px !important;
  }
  .avanza-md {
    font-size: 16px !important;
    text-align: left;
  }
  #filtros * {
    font-size: 10px;
  }
  h2.categoria {
    font-size: 14px;
  }
  p {
    font-size: 16px !important;
  }

  .answer p {
    font-size: 12px !important;
  }
  .card-pregrado {
    height: 600px !important;
  }


  .dashed-acreditacion {
    font-size: 24px;
  }
  .menu-content{
    display: none;
  }
  .menu-content.active {
    display: block;
  }
  .sec_title {
    font-size: 24px !important;
    text-align: center;
  }

  .fa.fa-bars, .fa.fa-close {
    font-size: 32px !important;
  }

  #logo-footer {
    width: 50%;
  }

  .av {
    font-size: 22px;
  }

  .txt-gris-claro {
    color: #000;
  }

  .avanza h6,
  .bpt {
    font-size: 16px;
  }

  .item-beneficios {
    background:white;
    width: 50%;
    margin: 0 auto;
    border-radius: 30px;
  }

  #pqeu-txt {
    font-size: 1rem !important;
  }


  #para-un-mundo-real {
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    display: none;
  }

  #nuestras-facultades {
    /* border-bottom: 1px solid var(--verde); */
    /* border-bottom-style: dashed; */
    font-size: 24px !important;
    padding: 10px 5px;
  }

  .txt-solicitar-informacion {
    background-color: #fff;
  }

  .toma-decision {
    font-size: 16px;
    font-weight: 300;
  }

  #call-c .btn.bg-rojo.blanco {
    font-size: 14px !important;
  }

  .ucss-avanza {
    font-size: 15px;
    padding: 10px 5px;
    text-align: center;
  }

  #txt-maestrias-mobile {
    text-align: center !important;
    width: 100% !important;
    border-radius: 10px;
    font-size: 20px !important;

  }

  .videollamada-c {
    background: var(--gris-claro) !important;
  }

  .links-col {
    display: flex;
    flex-direction: column;
    flex: 0 0 100% !important;
    padding: 10px !important;
    margin: 0 !important;
  }

  .bg-call {
    background-image: url(../img/callcenter-mobile.png);
    background-repeat: no-repeat;
    height: 270px !important;
    background-position: 100%;
    background-size: cover;
  }

  #txt-maestrias-mobile {
    text-align: center !important;
  }

  footer a,
  footer p {
    font-size: 12px !important;
  }



}

/* Tablet and desktop query */
@media screen and (min-width: 768px) {
  
  .commentCarrls{
    font-size: 15px !important;
  }
  .accordian-link p {
    margin: 0;
    text-align: justify;
}
  .crrsl {
    width: 15%;
  }
  .col-12 strong{
    font-size: 17px !important;
  }
  #nuestras-facultades .online{
    font-size: 30px !important;
  }
  .tituloPP{
    font-size: 2rem !important;
  }
  .desborde{
    margin: 0;
    text-align:justify;
  }
  .backColor{
      font-size: 15px !important;
  }
  .backColor > li{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }
  .textP{
    width: 65%;
  }
  .subTittle{
    font-size: 15px !important;
  }
  .tittleN{
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
  }
  .modalidad-desc .bg-gris-claro {
    height: 244px;
  }
  #bg-ci {
    background-image: url('../img/banner-tablet.png');
    height: 45rem;
  }
  #submit-btn{
    width: 5rem !important;
  }
  .btn-cta-large {
    width: 15vw;
  }
  p {
    font-size: 20px !important;
  }



  #maestria-img {
    width: 100%;
  }

  .links-col {
    display: flex;
    flex-direction: column;
    flex: 0 0 14%;
    margin: 0 1px;
  }

  #avanza-con-ucss-c {
    top: unset;
    font-size: 24px;
  }

  #texto-admisiones {
    font-size: 24px !important;
    display: inline-flex;
    position: absolute;
    top: 25%;
    right: 5rem;
  }


  #texto-admisiones div .num {
    font-size: 70px;
    font-weight: 900;
    left: -40px;
    top: unset;
    bottom: -25px;
  }

  #texto-admisiones .badge-year {
    color: #000 !important;
  }

  .txt-solicitar-informacion {
    background: var(--gris-claro);
  }
.shadow {

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

  #call-c {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }


  .bg-call {
    background-image: url('../img/callcenter.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 270px !important;

  }

  .toma-decision {
    font-size: 32px !important;
  }


  #logo-footer {
    width: 80%;
  }

  .av {
    font-size: 48px;
  }

  .videollamada-c p {
    font-size: 24px !important;
  }
}


/* Tablet query */
@media screen and (min-width: 768px) and (max-width: 991px) {

  .col-12 strong {
    font-size: 16px !important;
}
  .subtittleRojoMain{
    width: 100%;
  }
  .fa-check-circle{
    font-size: 20px !important;
  }
  .btn-cta {
    font-size: 16px;
  }
  .btn-cta-large {
    width :30vw !important;
  }

  .qi {
    font-size: 24px !important;
  }

  .qi-desc {
    font-size: 18px !important;
  }

  .ucss-avanza {
    font-size: 24px;
  }

  .avanza-md,
  #bpt,
  #nuestras-facultades,
  #ucss-avanza {
    font-size: 20px !important;
  }

  #txt-maestrias-mobile {
    font-size: 18px;
  }

  p {
    font-size: 14px !important;
    font-family: Mosk400;
  }

  #faq p {
    font-size: 20px !important;
  }

  .dashed-acreditacion {
    font-size: 24px !important;
    padding: 0px 0 15px;
  }

.beneficiosSecction2{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px !important;
}
.benecontentG{
  margin-top: 0rem !important;
}
.backColor{
  width: 80%;
}
#nuestras-facultades{
  font-size: 30px !important;
}
.PmR{
  max-width: 38% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
.vtablet{
  margin-bottom: 0px !important;
}
#avanza-con-ucss-c{
  top:15%;
}

  .answer p {
    font-size: 18px !important;
  }

  .videollamada-c p {
    font-size: 16px !important;
  }

  .sec_title {
    font-size: 24px !important
  }

  .av {
    font-size: 24px;
  }

  .accordian-link {
    font-size: 20px !important;
  }

  #pqeu-txt {
    font-size: 16px !important;
  }

  #texto-admisiones {
    font-size: 8px !important;
    right: 0;
  }

  #texto-admisiones .num {
    font-size: 32px !important;
    left: -18px !important;
    top: -5px !important;
  }

  #texto-admisiones .badge-year {
    font-size: 8px !important;
  }

  .acreditacion-img {
    height: 55px !important
  }

  .card-pregrado {
    flex: 0 0 30%;
  }

  .item-beneficios .row img {
    width: 48px;
  }

  #bg-ci * {
    font-size: 150%;
  }

  .te-contactaremos h4 {
    font-size: 20px !important;
  }

  .bg-call {
    background-image: url('../img/callcenter-mobile.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
  }


  .title-carrera {
    font-size: 14px !important;
  }

  footer a,
  footer p {
    font-size: 12px !important;
  }

  .links-col {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    padding: 10px !important;
  }



  .btn-qi {
    font-size: 12px;
  }

  #logo-footer {
    width: 100% !important;
  }

  .links-c .col-6 {
    position: absolute;
    top: 30px;
    background: var(--gris);
    padding: 10px;
    height: auto !important;
  }



  #para-un-mundo-real {
    font-size: 14px;
  }

  #nuestras-facultades {
    font-size: 16px;
  }

}

@media screen and (min-width: 992px) {
  .avTittle{
    font-size: 30px;
  }
  
  #bg-ci {
    background-image: url('../img/banner-tablet.png');
  }
  
  .card-pregrado p {
    font-size: 14px;
    line-height: 105%;
  }
  header * {
    font-size: 18px;
  }

  #wa-fixed i {
    font-size: 32px;
  }

  #wa-fixed {
    right: 2px;
  }

  .btn-cta {
    font-size: 18px !important;
    padding: 5px 15px !important;
    border-radius: 10px;
  }

  p {
    font-size: 18px !important;
  }


  /* Banner principal */
  #avanza-con-ucss-c {
    position: absolute;
  }

  #texto-admisiones {
    right: 5rem;
  }

  #avanza-con-ucss-c {
    top: 15%;
    font-size: 38px;
    margin: 0;
  }

  #avanza-con-ucss-c .btn {
    font-size: 24px !important;
  }


  /* Por que estudiar en la ucss */
  #pqeu-txt {
    font-size: 32px;
  }

  .avanza-md {
    font-size: 28px !important;
  }

  #bpt {
    font-size: 32px !important;
    color: #4c4c4c;
  }

  #carousel-beneficios strong {
    font-size: 16px !important;
  }

  /* Nuestras facultades */

  .pmr h6 {
    font-size: 24px !important;
  }

  #nuestras-facultades {
    font-size: 32px !important;
  }

  .cards-desktop p.gris-tecto {
    font-size: 14px !important;
  }

  .card-desktop .btn {
    font-size: 14px !important;
  }

  .bg-call {
    background-size: cover;
    background-position: -60px center;
  }

  /* Cards carreras */
  .title-carrera {
    font-size: 18px !important;
  }

  /* Solicitar información */

  .toma-decision {
    font-size: 26px !important;
  }

  /* .btn-si {
    font-size: 24px !important;
  } */

  /* posgrados */
  .ucss-avanza {
    font-size: 32px;
  }


  .modalidad-desc p,
  .modalidad-desc h6 {
    font-size: 16px !important;
    margin: 0 !important;
  }

  #txt-maestrias-mobile {
    font-size: 24px !important
  }


  /* Quieres impulsar tu rumbo profesional */
  .qi {
    font-size: 32px !important
  }

  .qi-desc {
    font-size: 18px !important;
  }


  /* Acreditación UCSS */


  .acreditacion-img {
    height: 65px !important;
  }

  #acreditacion h3 {
    font-size: 32px;
  }

  /* Agenda videollamada */
  .av {
    font-size: 34px !important;
    color: var(--gris);
  }

  .videollamada-c {
    font-size: 20px;
  }

  /* FAQS */
  .sec_title {
    font-size: 32px !important;
  }

  .answer p {
    font-size: 20px;
  }

  .accordian-link {
    font-size: 18px !important;

  }

  /* Footer */
  #chat-bubble {
    position: absolute;
    top: -25%;
    z-index: 1000;
    right: 3%;
    background-color: var(--verde);
    padding: 10px;
    border-radius: 50%;
  }

  .bg-call {
    background-repeat: no-repeat;
    width: 100%;
    height: 260px !important;
  }

  footer h6 {
    font-size: 18px !important;
  }

  footer a,
  footer p {
    font-size: 18px !important;
  }


  .card-pregrado {
    flex: 0 0 30%;
  }



}

@media screen and (min-width: 1400px) {

  .btn-cta {
    font-size: 22px !important;
  }


  header * {
    font-size: 20px;
  }

  .card-pregrado {
    flex: 0 0 20%;
  }


  #texto-admisiones {
    right: 10rem !important;
  }


  .sm-c {
    margin-right: 9.8rem !important;
  }

  /* Posgrados */

  .ucss-avanza {
    font-size: 32px;
  }


  #txt-maestrias-mobile {
    font-size: 24px !important
  }

  .bg-call {
    height: 270px !important;

}
}

@media screen and (min-width: 1920px) {



  .bg-call {
    height: 270px !important;

  }
}

@media screen and (max-width: 768px) {
  .fa.fa-minus-circle, .fa.fa-plus-circle {
    font-size: 24px;
  }
  #avanza-con-ucss-c {
    top: 10% !important;
    left: 10px
  }
  

  .avanza-md, #bpt, .ucss-avanza {
    font-size: 24px !important;
  }
}
